.products{
    display: flex;
    gap: 20px;
    width: 100%;
    padding-top: 100px;
    justify-content: center;
}


.product{
    width: fit-content;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
}

.product:hover {
    transform: scale(1.2);
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    gap: px;
}




body{
    display: flex;
    background: #7de4d6;
}

