.products {
  display: flex;
  gap: 50px;
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.product {
  width: fit-content;
  background: rgb(61, 94, 99);
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}

.product:hover {
  transform: scale(1.2);
  box-shadow: 1px 2px 2px 2px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  gap: px;
}
.logo {
  position: relative;
  right: 200px;
}

body {
  display: flex;
}
